html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    color: rgba(240, 248, 255, 0.712);
    font-weight: bold;
    margin: 5px 20px 0px 30px;
}


body {
    background-image: url("https://cdn.discordapp.com/attachments/1050792777660780544/1064950262361501746/backgorundtotal2khightech.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px solid rgba(255, 0, 0, 0);
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0px;
    height: 100%
}

.containerclass {
    width: 100%;
    height: 100vh;
    ;
    /* border: solid 5px rgba(255, 0, 0, 0); */
    box-sizing: border-box;
    display: flex;
    padding-bottom: 100px;
    /* border-radius: 1%; use flexbox layout */
}

.splitfour {
    width: 25%;
    height: 98%;
    /* flex-grow: 1; */
    margin: 18px;
    /* border: solid 5px rgba(0, 255, 0, 0); */
    box-sizing: border-box;
    border-radius: 2%;
    content-visibility: hidden;
}


.splitfour:hover {
    content-visibility: visible;
    height: fit-content;
}

.subclassname {
    color: rgb(240, 255, 255);
    visibility: visible;
    text-align: center;
    font-size: 215%;
    font-weight: bold;
    margin-top: 13px;
    text-shadow: 2px 2px 4px #000000;
}

/* .subclassname:hover {
    visibility: hidden;
} */


.skill {
    width: 95%;
    height: f;
    margin: 2%;
    border: solid 5px rgba(4, 0, 255, 0);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 2%;
    align-items: stretch;
    padding: 10px;
    box-shadow: 0 0 10px rgb(245, 125, 45);
}


.top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon {
    background-image: url('https://cdn.discordapp.com/attachments/1050792777660780544/1084255761938522233/neptuneboy666_videgame_simple_2d_skill_icon_the_skill_Dual-wiel_cd2120bd-02e1-4025-858f-5fa386d0f006.png');
    height: 100px;
    width: 100px;
    background-size: cover;
    font-style: bold;
    color: azure;
    border-radius: 10%;
    border-radius: 10%;
}

.skillName {
    color: azure;
    font-weight: bold;
    height: 100px;
    width: 30%;
    font-size: 200%;
    text-align: left;
    margin: auto;
    padding-left: 10px;
    text-shadow: black;
}

.skilllevel {
    color: azure;
    font-weight: bold;
    height: 100px;
    width: 30%;
    font-size: 400%;
    text-align: left;
}

.lvl {
    color: azure;
    font-weight: bold;
    height: 100px;
    width: 30%;
    font-size: 100%;
    padding-left: 70px;
    padding-right: 0px;
}

.description {
    color: beige;
    text-align: left;
    border-radius: 2%;
    margin: auto;
    padding-top: 5px;

}

/*                 LEFT STUFF                */
.top-containerLeft {
    display: flex;
    margin-bottom: 10px;
}

.lvlLeft {
    color: azure;
    font-weight: bold;
    height: 100px;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: min-content;

}

.skilllevelLeft {
    color: azure;
    font-weight: bold;
    height: 100px;
    width: min-content;
    font-size: 400%;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}

.skillNameLeft {
    color: azure;
    font-weight: bold;
    height: 100px;
    width: 30%;
    font-size: 200%;
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    padding-left: 10px;
}

.iconleft {
    align-self: right;
    border-radius: 10%;
}

#Techno-mechamancer {
    background-image: url('https://cdn.discordapp.com/attachments/1050792777660780544/1084807619111288882/1.jpg');
    background-size: cover;
    background-position: left;
}

#CyberPotioneer {
    background-image: url('https://cdn.discordapp.com/attachments/1050792777660780544/1084807618771554385/2.jpg');
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 40%;
    background-size: 130%;
    background-repeat: no-repeat;
}

#PsionicEnforcer {
    background-image: url('https://cdn.discordapp.com/attachments/1050792777660780544/1084807619740454922/3.jpg');
    background-size: 120%;
    background-position-x: 35%;
    background-position-y: 20%;
    
}

#SpellWeaver {
    background-image: url('https://cdn.discordapp.com/attachments/1050792777660780544/1084807620507996170/4.jpg');
    background-size: 130%;
    background-position: left;
}


.back-to-home {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fca55f;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);
}

.back-to-home a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.back-to-home a:hover {
    color: #ffffff;
}